{% extends 'base.html' %}
{% block title %}
  <title>Consulta CEP</title>
{% endblock title %}
{% block main %}
  <form action="{% url 'consulta_cep' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3" style = "position:relative; top:-170px;">
      <input type="text"
             name="cep"
             class="form-control"
             placeholder="CEP"
             aria-label="CEP"
             aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit">OK</button>
    </div>
  </form>

  
{% endblock main %}
{% comment %} <br>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      Logradouro <br>
      <br>{{res_list.0}} <br>
    </div>
    <div class="col">
      Bairro <br>
      <br>{{res_list.1}} <br>
    </div>
    <div class="col">
      Localidade <br>
      <br>{{res_list.2}} <br>
    </div>
    <div class="col">
      UF <br>
      <br>{{res_list.3}} <br>
    </div>
</div> {% endcomment %}
